[submodule "ActsConnectDemo"]
	path = ActsConnectDemo
	url = https://github.com/YourUser/ActsConnectDemo.git

[submodule "ActsConnect_Frontend"]
	path = ActsConnect_Frontend
	url = https://github.com/AbhishekPandey10/ActsConnect_Frontend.git